body {
    background-color: #eedfcc;
    font-family: Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
#Favoritos{
    margin-left: 0%;
    display: inline-block;
}
#Perfil{
    margin-left: 0%;
    display: inline-block;
}

#menuIcono, #cerrarBarra{
    font-size: 30px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;    
}

#cerrarBarra{
    display: none;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #888888;
    color: #faf0e6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



#Ver, #Editar{
    background-color: #faf0e6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 20px auto;
    text-align: left;
}
#Editar{
    display:none;
}
#Ver p {
    margin: 10px 0;
}

.formButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
    display: block;
}

.barra_lateral {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #87CEFA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.barra_lateral ul {
    padding-right: 1px;
    margin-top: 2.5em;
}

.barra_lateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.barra_lateral a:hover {
    color: #f1f1f1;
}

.cerrar_barra {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#Principal{
    display: inline-block;
    margin-left: 70%;
    margin-bottom: 0px;
}

.botonNav{
    border:none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 2em;
    cursor: pointer;
    border-radius: 4px;
}

.botonNav:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
}