body {
    background-color: #eedfcc;
    font-family: Arial, sans-serif;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #888888;
    color: #faf0e6;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#Perfil {
    margin-left: 94%;
    margin-right: 0px;
    border-right: 0px;
}

form {
    background-color: #faf0e6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 20px auto;
    text-align: left;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #eedfcc;
}

.formButton {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
    display: block;
}